# Build
bin/
obj/

# Rider / VS / VSCode
.vs/
.idea/
.vscode/
.dotnet/

# nuget cache
.nuget/

# User files
*.user
*.suo

# Logs
*.log

# Environment files
.env
.env.*

# OS
.DS_Store
Thumbs.db
/src/BotTemplate.Api/appsettings.Development.json
/src/BotTemplate.Api/appsettings.Development.json



